@charset "utf-8";

.focus{height:380px;overflow:hidden;position:relative;}
/* focus_s */
.focus_s{position:absolute;left:50%;bottom:5%;height:13px;overflow:hidden;width:110px;z-index:9;margin:0 0 0 -30px;}
.focus_s li{float:left;cursor:pointer;height:13px;width:12px;overflow:hidden;margin-right:10px;background:url("dian.png") no-repeat;}
.focus_s li.active{background-position:-12px 0;}
/* focus_m */
.focus_m ul{opacity:1;filter:alpha(opacity=100);}
.focus_m li{width:100%;height:380px;position:absolute;top:0;left:0;}
/* focus_l focus_r */
.focus_l,.focus_r{position:absolute;display:block;width:50px;height:75px;overflow:hidden;z-index:2;top:260px;}
.focus_l{ margin-left:10px;}
.focus_r{ margin-left:940px;}
.focus_l b,.focus_r b{position:absolute;z-index:1;display:block;width:50px;height:75px;overflow:hidden;background:#000;opacity:0.3;filter:alpha(opacity=30);cursor:pointer;}
.focus_l span,.focus_r span{display:inline-block;position:relative;z-index:2;width:22px;height:33px;top:21px;cursor:pointer; margin-right:28px;}
.focus_l span{left:12px;background-image:url("l.png");_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/l.png');}
.focus_r span{left:16px;background:url("r.png") 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/r.png');}
.focus_l:hover b,.focus_r:hover b{opacity:0.5;filter:alpha(opacity=50);}



/*-------------------- a102076392  begin  ---------------------*/
.form_ul{width:100%; height:38px;}
.form_ul li{ padding:0px auto; float:left; }
.form_li{ margin-top:5px; margin-left:10px;}
.form_text{margin-left:10px; width:262px; height:38px;}
.form_ul a:hover{color:red;}

.tophyi{ width:100%; height:30px; background-color:#f6f6f6; border:none; border-bottom:solid 1px #d4d2d2; line-height:30px; color:#666;}
.tophyi a{ color:#666;}
.tophyi a:hover{ color:red;}

.wdiv{width:1060px; margin:0px auto; padding:0px auto;}
.wdiv1000{width:1065px; margin:0px auto; padding:0px auto;}
.bkuang{ border:solid 1px #dcdcdc; background-color:#ffffff;}

.topred{ width:100%;height:5px; background-color:#b4251d;margin:0px auto; padding:0px auto;}
.toplog_div{overflow:hidden; }
.tophead{height:132px; background-image:url("xmz-topbk.jpg"); background-repeat:repeat-x; z-index:100000; overflow:hidden;}

.shoucang-cls{ float:left; width:50px;}
.shoucang-cls1{  margin-left:20px;}
.shoucang-cls2{  margin-left:30px;}
.shoucang-cls a{ color:#666; line-height:30px;}




#toplog{/*width:565px;*/ height:100%; float:left; margin:0px auto; }

#toplang{width:370px; height:100%; float:right; margin-right:0px; margin-top:0px; text-align:right; padding-top:10px;}
	.hs-topsc{ width:100%; height:32px; }
	.hs-topsc ul{width:100%; height:100%; margin-top:0px;}
	.hs-topsc ul li{ float:left; color:#333; margin-top:0px;}
	.hs-topsc ul li a{ color:#333; font-size:10px;line-height:31px;}
	.hs-topsc ul li a:hover{ color:red; font-size:10px;line-height:31px;}

.topmeau{ width:100%; height:35px; overflow:hidden; background-color:#005bac /*#d40e43*/; }
.homescls{ background-image:url("homecls.png"); background-repeat:no-repeat;  background-position:20px -2px;}


.topmeau ul{ list-style:none; border:none; margin:0px auto; padding:0px auto;}
.topmeau ul li{ float:left; width:135px; text-align:center; line-height:30px; margin:0px auto; padding:0px auto; background-color:none; margin-left:0px; height:43px;}
.topmeau ul li a{ color:#fff; font-size:16px;font-family: '微软雅黑','幼圆'; font-weight:200; line-height:35px;}
.topmeau ul li:hover a:hover{color:#FC6}
.topmeau .li_Select{ background-color:#fc0146;}
.topmeau .li_Select  a{ color:#fff;}
.topmeau .fengeLiCss{}


.ctitle_index{ width:100%; height:58px; border:0px; border-bottom:solid 2px #cfcfcf; text-align:left;}
.ctitle_index span{ font-size:25px;font-family: '微软雅黑','幼圆'; font-weight:bold; line-height:58px; text-align:left;color:#333;}
.ctitle_index font{ font-size:18px;font-family: '微软雅黑','幼圆';   line-height:58px; text-align:left;color:#ccc;}
.ftyle_index{ width:100%; height:40px; text-align:left; line-height:40px;}
.ftyle_index  span{ font-size:14px; background-color:#d0ad6b; border:solid 1px #fff; padding:5px; padding-left:8px; padding-right:8px;color:#FFF;}
.ftyle_index .acls{color:#6e6d6d; font-size:14px;font-family: '微软雅黑','幼圆';}
.ftyle_index .acls:hover{color:#FC0;}




.topmeau ul li:hover{}
.con_ad{ width:100%; height:477px; margin-top:0px;overflow:hidden;}

.leftDiv{ float:left; width:240px;}
.rightDiv{ float:right; width:900px;}


.indexleft{ float:left; width:325px; height:305px; overflow:hidden; }
.index-ctitle{ background-image:url("../image/index-ctitle.jpg"); height:30px; border:0px; background-repeat:no-repeat;} 
.index-xx{ float:right; margin:0px auto; background-image:url("../image/ctitle-bk.jpg"); background-repeat:repeat-x; background-position:0px 5px; height:30px;}
.index-ctitle a{ display:block; float:right; margin-right:8px; line-height:30px; line-height:30px; color:#000}

.index-text{ width:100%; margin-top:5px; text-align:left;}

.indexnewslist{ width:100%; height:33px;  border:0px; border-bottom:dotted 1px #999;}
.indexnewslist font{ color:red;}
.indexnewslist a{ display:inline-block; float:left; color:#666;line-height:30px;}
.indexnewslist a:hover{color:red;}
.indexnewslist span{ display:inline-block; float:right; line-height:25px; color:#666;}


.indexmid{ float:left; width:325px; height:275px; margin-right:8px; margin-left:8px; overflow:hidden;}

.indexleft1{ width:325px; height:200px; float:left; margin-right:8px;}
	.indexleft1-ctitle{ width:100%; height:30px; line-height:30px; border:0px; border-bottom:solid 1px #ccc; text-align:left; }
	.indexleft1-ctitle span{font-size:16px; color:#b65a31; font-family:'微软雅黑'; font-weight:bold; margin-left:10px; display:inline-block; width:100px; text-align:center; border:0px; border-bottom:solid 2px #b65a31; float:left; margin:0px auto;}
	.indexleft1-ctitle a{ display:block; float:right; margin-right:8px; line-height:30px; line-height:30px; color:#000}
	
	
.indexprodli{ width:163px; height:197px; float:left; margin-right:2px; margin-left:2px; text-align:center; line-height:25px;}
.indexprodli a{ color:#333; font-weight:bold;}
.btm_a{color:#fff; line-height:30px;} 


#ProList {}
#ProList h4 { height:30px; line-height:30px; padding-left:30px; font-weight:bold; margin-top:15px; font-size:14px; background:url("icon3.jpg") no-repeat 15px center;}
#ProList ul { width:100%; display:inline-block;}
#ProList li { float:left; width:100%; margin:15px 0 0 15px; display:inline; text-align:left;}
#ProList li p {height:164px; overflow:hidden;}
#ProList li span { display:block; height:26px; line-height:26px; text-align:center; background-color:#e1e1e1}
#ProList li a {display:block; color:#333; font-size:14px;}
#ProList li p a {border:solid 1px #ccc; padding:1px;  height:210px;}
#ProList li p a:hover {border:solid 1px #08a9c4; color:#F00;}
#ProList li span a:hover {background-color:#08a9c4; color:#fff; text-decoration:none}

.aboutusDiv{ float:left; width:363px; height:100%; overflow:hidden;}
.aboutusDiv ul{ width:100%; height:100%; overflow:hidden;}
.aboutusDiv ul li{ width:100%;}
.ctitleLi{ height:30px; border:none; border-bottom:solid 1px #e0e0e0;}
.ctitleLi span{ float:left; font-size:14px;font-family:'微软雅黑','幼圆';}
.ctitleLi a{ float:right; padding-left:6px; padding-right:6px; background-color:#e0e0e0; font-size:12px;font-family:'微软雅黑','幼圆'; color:#fff;}

.newsDiv{ float:right; margin-right:0px; width:625px; height:100%; overflow:hidden}
.ctitleLi_MoRen,.ctitleLi_Sel{ width:120px; height:30px; float:left; margin:0px auto; padding:0px auto; text-align:center; line-height:30px; background-repeat:no-repeat;}
.ctitleLi_Sel{ background-image:url("ctitleli_sel.jpg"); color:#fff;}
.cnewsList,.showDiv{ width:100%; height:320px; overflow:hidden;}
.showDivLi0{ width:100%; height:160px; overflow: hidden; border:none; border-bottom:dotted 1px #e0e0e0; padding-top:20px; text-align:left; font-size:12px; color:#666;}
.showDivLi0 a{ font-size:16px;font-family:'微软雅黑','幼圆'; color:#333;}
.showDivLi0 a:hover{ color:red;}

.cnewshref{ width:98%; height:25px; line-height:25px; float:left;  overflow:hidden;}
.cnewshref a{ float:left; color:#333;}
.cnewshref a:hover{ color:red;}
.cnewshref span{ float:right; margin-right:20px; color:#999;}
.morehref{background-color:#cfcfcf; color:#8b8b8b; padding:1px; padding-left:6px; padding-right:6px; font-size:12px; float:right; margin-top:6px;}

.ContactusDiv{ float:left; width:250px; height:100; overflow:hidden;}
.productsDiv{ float:right; margin-right:0px auto; width:740px;}


.yuanJiao{border: 1px solid #468fdd;-moz-border-radius: 15px;/* Gecko browsers */ -webkit-border-radius: 15px;/* Webkit browsers */ border-radius:15px;/* W3C syntax */ background-color:#f7f7f7;}
.hs-conbk{ margin:0px auto; padding:0px auto; clear:both;}

.ctitle{ width:100%; height:30px; overflow:hidden;  text-align:left; margin:0px auto; padding:0px auto;}
.ctitle span{ font-weight:bold; font-family:'微软雅黑','幼圆';  font-size:16px; color:#FFF; margin-left:10px; margin-right:10px; padding-top:8px; display:block; float:left; }
.ctitle font{font-family:'微软雅黑','幼圆';  font-size:14px; color:#FFF; float:left;padding-top:8px; display:block; }
.prodli{ width:100%; height:40px; line-height:40px; border:0px; border-bottom:solid 1px #dcdcdc; text-align:left;}
.prodli a{ line-height:40px; color:#333; padding-left:20px;}
.prodli a:hover{color:red;}

.ctext{ width:100%; height:322px; overflow:hidden;}
.cleftdiv{ float:left; width:100%; height:225px; overflow:hidden;margin:0px auto; padding:0px auto;}

.crightdiv{ float:right; width:49%; height:320px; overflow:hidden;margin:0px auto; padding:0px auto;}
.ctitle_right{ width:100%; height:39px; overflow:hidden;  text-align:left; margin:0px auto; padding:0px auto; background-image:url("title.jpg"); background-repeat:no-repeat; border:0px; border-bottom:2px solid red; background-position:0px 8px;}
.ctitle_right span{ font-weight:bold; font-family:'微软雅黑','幼圆';  font-size:16px; color:#000; margin-left:30px; margin-right:10px; padding-top:10px; display:block; float:left; }
.ctitle_right font{font-family:'微软雅黑','幼圆';  font-size:14px; color:red; float:left;padding-top:10px; display:block; }




.ctitlename{width:99%; height:30px;margin:0px auto; padding:0px auto;  float:left; color:#fff; text-align:center; line-height:30px;  font-size:14px;font-family: '微软雅黑','幼圆'; padding-right:8px; }
.cittlebk{width:30px; height:34px;margin:0px auto; padding:0px auto; background-image:url("titlebk.png"); overflow:hidden; float:left; margin-top:-4px;}
.cmore{ float:right; margin-right:10px; margin-top:8px;}

.cproducts{width:98%; height:100%; margin:0px auto; padding:0px auto; overflow:hidden; text-align:left;position:relative;}
.cproducts ul{ width:100%; height:100%; margin-left:5px;}
.cproducts ul li{ float:left; margin-right:25px; margin-top:30px; margin-left:25px; text-align:center; height:250px; width:210px; float:left;}
.cproducts ul li a{ display:block; width:202px; height:25px; background-color:#312f30; font-size:14px; text-align:center;color:#fff; }
.cproducts ul li a:hover{color:red}
.cproducts ul li img{ width:200px; height:215px; border:solid 1px #333; margin-right:8px;}

		.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
		.clearfix { *zoom:1; }
		#wrap{position:relative;background:#fff;overflow:hidden;}
		#wrap ul{margin:0px;padding:0px;position:absolute;top:0px;left:0px;}


.cproducts_show{width:99%; height:350px; margin:0px auto; padding:0px auto;margin-top:18px; overflow:hidden; text-align:left;position:relative;}
.cproducts_show ul{ width:100%; height:100%; margin-left:20px;position:absolute;}
.cproducts_show ul li{ float:left; margin-right:10px; text-align:center; height:220px; width:208px;}
.cproducts_show ul li a{ color:#666;}
.cproducts_show ul li a:hover{color:red}




.newslist{ width:720px; height:540px; float:left; margin:0px auto; padding:0px auto;}
.ctext_index{ width:100%; height:215px; overflow:hidden; margin-top:20px;}

.cls_Q{ background-color:#F90; font-size:12px; padding:5px; padding-top:3px; padding-bottom:3px; font-weight:bold; font-family:'微软雅黑','幼圆'; color:#fff;}
.cls_A{ background-color:#aeaeb0; font-size:12px; padding:5px; padding-top:3px; padding-bottom:3px;font-weight:bold; font-family:'微软雅黑','幼圆'; color:#fff;}

.cont{ width:1278px;  margin:0px auto; padding:0px auto; margin-top:8px;}
.cont div{ text-align:left;}


.contLeft{ width:220px; /*min-height:635px;*/ float:left; margin:0px auto; padding:0px auto; float:left;margin-left:0px;}

.contLeftProds{ width:99%; min-height:200px;  margin-left:1px; text-align:left; }
	.contLeftProds ul{ width:99%; margin:0px auto; padding:0px auto; margin-left:3px;}
	.contLeftProds ul li{width:99%; height:47px; background-image:url("../image/abtlt.jpg"); margin-top:3px; overflow:hidden; text-align:left; text-indent:26px; line-height:47px; border:none; background-repeat:no-repeat; background-size:99%;}
	.contLeftProds ul li a{ color:#fff; line-height:47px; font-size:14px; font-weight:bold;}
	.contLeftProds ul li:hover a{color:red;}
.contLeftProds div{ text-align:left;}
.contLeftTitle1{height:81px; width:241px; overflow:hidden; margin-left:1px; margin-top:8px;}


.contRight{width:785px;  float:right; margin-right:0px; overflow:hidden; background-color:#fff;}
	.crTwo{width:100%; height:238px; overflow:hidden;}
			.crTwoLeft{width:530px; height:238px; overflow:hidden; margin:0px auto; float:left; margin-left:0px;}
			.crTwoRight{width:230px; height:238px; overflow:hidden; margin:0px auto; float:right; margin-right:0px;}
	
		.crTitle{ width:734px; height:43px; background-image:url("xmz-jj.png"); background-repeat:no-repeat; margin-left:8px; margin-top:3px;}
		.crText{ width:98%; height:187px; overflow:hidden; text-align:left; color:#666;}
			.crText_left{ width:445px; height:170px; overflow:hidden; float:left; margin:0px auto; padding:0px auto; margin-left:18px; text-align:left; color:#333;}
			.crText_right{width:265px; height:100%; float:right; margin-right:0px;}
		.crNewsText{ width:100%; height:195px; overflow:hidden; text-align:left; color:#666;}
		.crNewsText ul{ margin-left:5px; width:99%; list-style:none;}
		.crNewsText ul li{ background-image:url("li.jpg"); height:26px; background-repeat:no-repeat; background-position:3px;border:none; border:none; border-bottom:dotted 1px #999;}
		.crNewsText ul li a{width:289px; height:19px; overflow:hidden;display:block; float:left; margin-left:20px; margin-top:2px; color:#666;}
		.crNewsText ul li a:hover{color:red;}
		.crNewsText ul li span{margin-right:0px; float:right}
	.crOne{width:100%; height:397px; overflow:hidden; background-color:#fff; margin-top:0px;}

.cRinghtDhang{ width:100%; height:255px; overflow:hidden;}
.cRinghtDhang ul li{width:232px; height:248px; border:1px solid #e6e6e6;float:left;  margin:0px auto; padding:0px auto;margin-right:9px;}
.crtext .liimg{ width:99%; height:95px; text-align:center; overflow:hidden;}
.crtext .litext{ width:99%; height:150px; background-image:url("db_bk.jpg"); overflow:hidden; font-size:12px; color:#333;}
.crtext .litext span{color:#05630a; font-weight:bold;}
.cRinghtList{width:100%; height:330px; overflow:hidden;}
	.cRightText{ width:354px; height:328px; float:left; margin:0px auto;padding:0px auto; border:solid 1px #e6e6e6;}
	.contText2{ width:98%; height:100%; margin:0px auto; padding:0px auto; overflow:hidden;}
	.contText2 ul{ width:98%; height:100%; margin:0px auto; padding:0px auto;}
	.contText2 ul li{ width:99%; height:30px; overflow:hidden; background-image:url("li.jpg"); background-repeat:no-repeat; background-position:0 10px;border:none; border-bottom:dashed 1px #e6e6e6;}
	.contText2 ul li a{ margin-top:5px; margin-left:10px; display:block; color:#333; float:left;}
	.contText2 ul li a:hover{color:red;}
	.contText2 ul li span{ float:right; color:#333;margin-top:5px; }
	
.contRight1{width:100%; height:235px; overflow:hidden;}
  .contRight11{width:512px; height:232px; background-image:url("gm-about.jpg"); background-repeat:no-repeat; float:left; margin:0px auto; padding:0px auto;}
    .cRightTitle{font-size:14px; color:#cc0200; margin-top:0px; margin-left:28px; padding-top:10px;font-family:'幼圆', '微软雅黑'; height:30px; }  
		.cRightTitleBk{ background-image:url("gm-product.jpg"); background-repeat:no-repeat; margin:0px auto; padding:0px auto; background-position:8px; text-indent:30px;color:#c80201; font-weight:bold; }
		.cRightTitle a{color:#c80201; font-weight:bold; font-size:13px;}
	.cRight12{width:512px; height:180px;  margin-top:0px; margin-left:8px; overflow:hidden; color:#888989;color:#FFF;}	
  .contRight12{width:227px; height:232px; background-image:url("gm-title2.jpg"); background-repeat:no-repeat; float:left; margin:0px auto; padding:0px auto;}
.contRight2{width:100%; height:280px; overflow:hidden; float:left; margin:0px auto; padding:0px auto; margin-top:1px;}
	.contRight12_news{margin:0px auto; padding:0px auto; background-image:url("gm-titlte2.jpg"); height:34px; }
	.contRight12_news a{font-size:14px; color:#fff; line-height:30px; text-indent:10px;font-family: '微软雅黑','黑体','幼圆'; margin-left:10px;}
	.cRight13{ width:100%; height:183px; margin-top:6px; margin-left:8px; overflow:hidden;color:#fff;}
		.cRight13 ul{ color:#000; font-size:12px;width:100%; list-style:none;}
		.cRight13 ul li{  width:98%; height:28px; text-indent:15px; background-image:url("gm-lie1.jpg"); background-repeat:no-repeat; background-position:0 3px;}	
		.cRight13 ul li a{color:#727373; float:left; width:98%; height:28px; overflow:hidden; font-size:13px;}
		.cRight13 ul li a:hover{ color:#F00}
	.cRight14{ width:755px; height:230px;  margin-top:6px; margin-left:8px; overflow:hidden;color:#fff;}
	.gdli{width:155px; height:155px; float:left; margin-right:8px;}
	.gdimg{max-width:285px; height:70px; border:solid 1px #CCC; margin-right:10px; }
.showProduct{ width:1015px; margin:0px auto; padding:0px auto; margin-top:8px; border:solid 1px #e6e6e6; margin-left:15px;}
	.contProduct{ width:100%; height:365px; overflow:hidden; padding:8px;}
	.imgwidth{ width:190px; height:170px; overflow:hidden; text-align:center; margin-right:10px; margin-bottom:8px; float:left;}

.contRight3{width:100%; height:51px; overflow:hidden;  background-image:url("gm-nytitle.jpg"); background-repeat:no-repeat; float:left; margin:0px auto; padding:0px auto; margin-top:-3px;}
.cRight15{ width:746px; height:328px;  margin-top:-15px; margin-left:0px; overflow:hidden;color:#41413f;border:solid 1px #e8e8e7;}
.cRight16{ width:100%; height:16px;  margin-top:0px; margin-left:0px; overflow:hidden;color:#fff; background-image:url("tx-title-bk-bt.jpg");}
	
	
#ordertab input{ color:#fff;}


.conNeiRong{/* min-height:550px;*/ margin:0px auto; padding-left:10px; margin-left:0px;}
.conNeiTitle{ width:100%; height:40px; color:#666; font-size:14px;  line-height:40px;  margin-bottom:10px; text-align:left;  padding-top:10px;  background-repeat:repeat-x}
.conNeiText div,.conNeiText p,.conNeiText span{ text-align:left;font-family:'微软雅黑','幼圆'!important;}

.divleft{ width:100%; height:50px; color:#fff; background-color:#d40e43; font-size:16px; line-height:45px; font-family:'微软雅黑','幼圆'; text-indent:10px;}

#warp {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 350px;; PADDING-TOP: 0px;
}
.banner {Z-INDEX: 99; MARGIN: 0px auto; WIDTH: 100%; HEIGHT: 350px; _width: 100%; overflow:hidden;}
.banner_l {	MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: left; margin-left:8px;z-index:1000}
.banner_r {	MARGIN-TOP: 147px; WIDTH: 23px; FLOAT: right; margin-right:8px;z-index:1000}
.bannerImg {POSITION: relative;  MARGIN: 0px auto; padding:0px auto; WIDTH: 100%; height:350px;FLOAT: left; overflow:hidden; text-align:center;}
.bannerImg .bannerPageBk{ width:100%; height:50px;z-index:-10; margin-top:310px; text-align:center; background-color:#dedfde;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5; position:absolute;}
.bannerImg .bannerPage{ width:100%; height:50px;z-index:10000000; margin-top:310px; text-align:center;}
.bannerImg .bannerPage A {MARGIN-RIGHT: 2px}
.bannerImg .bannerPage A IMG {	VERTICAL-ALIGN: middle}
.slides_container {	POSITION: absolute; WIDTH: 100%; height:350px; OVERFLOW: hidden; z-index:-10;}
.pagination {	MARGIN: 26px auto 0px; width:100px; }
.pagination LI {	MARGIN: 0px 1px; FLOAT: left; margin-top:12px;}
.pagination LI A {BACKGROUND-IMAGE: url("pagination.png"); WIDTH: 15px; DISPLAY: block; BACKGROUND-POSITION: 0px -1px; FLOAT: left; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 12px}
.pagination LI.current A {	BACKGROUND-POSITION: 0px -18px}

.crleft{width:240px; height:235px; overflow:hidden; float:left; margin:0px auto; padding:0px auto; background-color:#f6f6f6;}
.crRight{width:765px; height:235px; overflow:hidden; float:right; margin:0px auto; padding:0px auto; background-color:#f6f6f6;}

.indexContactUs{ background-image:url("indexcus.jpg"); background-repeat:no-repeat; background-position:right;}
.indexContactUs div{ text-align:left; padding-left:5px;color:#333;}

.productlist,.productlist div,.productlist p{ text-align:left;}
.productlist a,.productlist,.productlist p{ line-height:30px!important; font-size:14px!important; }
.productapp{ width:100%; margin:0px auto;}
.productapp li{ width:33.3%; height:170px; text-align:center; float:left;}
/*-------------------- a102076392 end begin  ---------------------*/

.topindex-maxpic{width:100%; max-height:400px !important;}

.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	max-height:400px !important;
	overflow:hidden;
}

.fullwidthbanner-container .fullwidthabnner	{
	width:100% !important;
	max-height:400px !important;
	position:relative;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	  .banner, .bannercontainer			{	width:768px; height:309px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	   .banner, .bannercontainer		{	width:480px; height:193px;	}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
		.banner, .bannercontainer		{	width:320px;height:129px;	}
}

@media only screen and (max-width: 319px) {
		.banner, .bannercontainer		{	width:240px;height:97px;	}
}

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {	
	background:#e1472f !important; 
}
.tp-leftarrow:hover,
.tp-rightarrow:hover {	
	background-color:#e1472f !important;
 }
/** BULLETS **/
.tp-bullets {
    z-index: 1001;
    position: absolute;
    bottom: 0px;
}

.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: #fff;
    width: 15px;
    height: 15px;margin-left:10px;
    float: left;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
	border-radius: 20px;
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;  
	
	
}


.tp-leftarrow.large {
	display:none;
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: #393939 url("slider-left-arrow.png") no-Repeat;
	width: 42px;
	height: 43px;
	margin-left: 0px;
	margin-top: -50px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: color, background 0.1s linear;
	-o-transition: color, background 0.1s linear;
	transition: color, background 0.1s linear;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
	/*
	**打开注释，按钮变成圆形的
	border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性 
	-moz-border-radius: 20px;  Mozilla浏览器的私有属性 
	-webkit-border-radius: 20px;  Webkit浏览器的私有属性 
	border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角 
	*/
}

.tp-rightarrow.large {
	display:none;
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: #393939 url("slider-right-arrow.png") no-Repeat 0 0;
    width: 42px;
    height: 43px;
    margin-left: 0;
    margin-top: -50px;
    -webkit-transition: background 0.1s linear;
    -moz-transition: color, background 0.1s linear;
    -o-transition: color, background 0.1s linear;
    transition: color, background 0.1s linear;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);/*增加阴影*/
	/*
	**打开注释，按钮变成圆形的
	border-radius: 20px;  所有角都使用半径为5px的圆角，此属性为CSS3标准属性 
	-moz-border-radius: 20px;  Mozilla浏览器的私有属性 
	-webkit-border-radius: 20px;  Webkit浏览器的私有属性 
	border-radius: 20px 20px 20px 20px; 四个半径值分别是左上角、右上角、右下角和左下角 
	*/
}



.tp-bullets.tp-thumbs {
    z-index: 100;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px;
    margin-top: -50px;
}

.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}

.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute;
}

.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/*filter: alpha(opacity=50);	*/
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}

.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.tp-thumbs img {
    width: 100%;
}

.tp-bannertimer {
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 200;
    z-index: 5000;
}

.tp-bannertimer.tp-bottom {
    bottom: 0px !important;
    height: 5px;
}

.footercls,.footercls a{color:#fff;}

@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .responsive .tp-bullets.tp-thumbs {
        width: 300px !important;
        height: 30px !important;
    }

    .responsive .tp-bullets.tp-thumbs .tp-mask {
        width: 300px !important;
        height: 30px !important;
    }

    .responsive .tp-bullets.tp-thumbs .bullet {
        width: 60px !important;
        height: 30px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
    .responsive .tp-bullets {
        display: none;
    }

    .responsive .tparrows {
        display: none;
    }
}


.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.tp-simpleresponsive a {
    text-decoration: none;
}

.tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tp-simpleresponsive >ul >li {
    list-stye: none;
    position: absolute;
    visibility: hidden;
}

.caption.slidelink a div,
.tp-caption.slidelink a div {
    width: 10000px;
    height: 10000px;
}

.tp-loader {
    background: url("loader.gif") no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}